/*-----------------Variables */

/*-----------------Global Deafults */
body{
    background-color: coral;    
    box-sizing: border-box;

    } 
img 
{max-width: 100%;}



    /*-----------------Headings & Types */
h1 {
    font-size: 50px;
    color: white;
font-family: sans-serif;
font-weight: 600;
}

p {color: rgb(255, 255, 255);
font-family: 'Patrick Hand', cursive;
font-size: 20px; }


/*-----------------Layouts */
.content {
    background-color: pink;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    padding-left: 3%;
    padding-right: 3%;
}


/*-----------------Header */

header {
    background-color: blueviolet;
    padding-top: 100px;
    padding-bottom: 20px;
}

header h1 {
    margin-top: 0cm;
}



/*-----------------Modules */



/*-----------------Footer */











