/* -------------------- VARIABLES */ 

:root {
    --main-bg-color: #f1f1f1;

    --vertical-spacer: 20px;

    --padder: 3%;

    --alternate-bg-color: #191931;

    --link-colour: rgb(107, 8, 8);
    --hover-colour: #000;

    scroll-behavior: smooth;
}

/* -------------------- GLOBAL DEFAULTS */ 

html {

}

body {
    background-color: var(--main-bg-color);

    /* background-image: url(../images/two-green-cactus-plants.jpg);
    background-repeat: no-repeat;

    background-position: 0 0;

    background-size: 100%;

    background-attachment: fixed; */


    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    font-size: 18px;
    line-height: 1.4;

    box-sizing: border-box;
}

img,
iframe,
video,
audio {
    max-width: 100%;
}

img {
    height: auto;
}





/* -------------------- HEADINGS AND TYPE */ 

h1,
h2,
h3 {
    font-family: 'Righteous', cursive;
    color: #222;
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

p {

    /* wowsers this is broken- why? */
    
}

a {
    color: var(--link-colour);
    text-decoration: none;
}

a:hover {
    color: var(--hover-colour);
    text-decoration: underline;
  
}

.emphasised-text {
  
    text-decoration: underline;
}

.section-header {
    background-color: yellow;
    padding: 20px 0;
    text-align: center;
}



/* -------------------- LAYOUTS */ 
.content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    padding-left: var(--padder);
    padding-right: var(--padder);

}



/* -------------------- HEADER */ 

header {
    background-color: var(--alternate-bg-color);
    padding-top: var(--vertical-spacer);
    padding-bottom: var(--vertical-spacer);

    text-align: center;
    color: #fff;
}

header a {
    text-decoration: none;
}

.header-logo img {
    max-width: 100px;
}

.header-heading {
    font-size: 32px;
}

.header-sub-heading {
    font-size: 20px;
}

@media screen and (min-width: 800px) {

    header {
        text-align: left;
    }

    .header-heading {
        font-size: 56px;
    }

    .header-logo img {
        max-width: 200px;
    }

    header .content {
        display: grid;
        grid-template-columns: 200px auto;
    }

    .header-text {
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

}

/* -------------------- NAVIGATION */ 

.navigation {
    position: sticky;
    top: 0;

    background-color: var(--alternate-bg-color);
    padding-bottom: 10px;
    padding-top: 10px;
}

.navigation .content {
    margin-top: 0;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: space-between;
}

.navigation a {
    color: #fff;
}


/* -------------------- FOOTER */ 

footer {
    background-color: var(--alternate-bg-color);
    padding-top: var(--vertical-spacer);
    padding-bottom: var(--vertical-spacer);

    text-align: center;
    color: #fff;
}



/* BUTTONS */ 

.back-top a {
    background-color: var(--alternate-bg-color);
    color: var(--main-bg-color);
    padding: var(--padder);
}
/* -------------------- MODULES */

main a img {
    filter:  grayscale(80%);

    transition: .3s;
}

main a:hover img {
    filter: unset;
}


.news-component {
    border-width: 1px;
    border-style: solid;
    border-color: black;

    padding: 3%;
    margin-bottom: 20px;
    overflow: hidden;
}

.news-component h2 {
    
}

.news-component img {
    float: left;
    margin-right: 20px;
}



.news-component-offset {
    background-color: #999;
}

.news-component-offset img {
    float:right;
    margin-left: 20px;
    margin-right: 0;
}

.news-component-image-only {
    display: flex;
    justify-content: center;
}

.news-component-image-only img {
    margin-right: 0;
    float: none;
}

.news-component-columns {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

@media screen and (min-width: 800px) {


    .news-component-columns {
        grid-template-columns: 1fr 1fr;     
        
    }

}

/* hero module*/
.hero-module {
    position: relative;
}

.hero-module img,
.hero-module video {
    width: 100%;
}



@media screen and (min-width: 800px) {

   
    .hero-content {
        position: absolute;

        width: 100%;
        height: 100%;

        bottom: 0;

        display: flex;

        align-items: center;
        justify-content: center;
    }

   .hero-module .heading-main {
       color: var(--main-bg-color);
       text-shadow: 0px 1px 10px var(--alternate-bg-color);
   } 

}


/* image gallery */ 

.gallery {

}

.gallery-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--vertical-spacer);
}

.gallery-images img {
    width: 100%;
}

@media screen and (min-width: 800px) {

    .gallery-images {
        grid-template-columns: repeat(3, 1fr);
    }
} 


