/* -------------------- VARIABLES */ 

:root {
    --main-bg-color: #e97051;

    --vertical-spacer: 30px;

    --padder: 5%;

    --alternate-bg-color: #e97051 ;

    --link-colour: rgb(230, 0, 142);
    --hover-colour: rgb(235, 144, 42);

    scroll-behavior: smooth;
}

/* -------------------- GLOBAL DEFAULTS */ 

html {

}

body {
    background-color:#de3d9a;
    padding: 40px 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;

    box-sizing: border-box;
}

img,
iframe,
video,
audio {
    max-width: 100%;
}

img {
    height: auto;
}





/* -------------------- HEADINGS AND TYPE */ 

.section-header {
    background-color:#e7695f;
    padding: 30px 0; }


.body {
background-color:#e7695f;
    padding: 30px 0;
    text-align: center;}

.paragraph {
background-color:#e7695f;
    padding: 30px 0;
    text-align: center;}

/* -------------------- LAYOUTS */ 
.content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    padding-left: var(--padder);
    padding-right: var(--padder);

}



/* -------------------- HEADER */ 

header {
    background-color: #de3d9a;
    padding-top: var(--vertical-spacer);
    padding-bottom: var(--vertical-spacer);
}


/* -------------------- NAVIGATION */ 

.navigation {
    position: sticky;
    top: 0;

    background-color: var(--alternate-bg-color);
    padding-bottom: 10px;
    padding-top: 10px;
}

.navigation .content {
    margin-top: 0;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: space-between;
}

.navigation a {
    color: #ffffff;
}


/* -------------------- FOOTER */ 

footer {
    background-color: var(--alternate-bg-color);
    padding-top: var(--vertical-spacer);
    padding-bottom: var(--vertical-spacer);

    text-align: center;
    color: #ffffff;
}



/* BUTTONS */ 

.back-top a {
    background-color: var(--alternate-bg-color);
    color: var(--main-bg-color);
    padding: var(--padder);
}
/* -------------------- MODULES */




/* image gallery */ 

.gallery {

}

.gallery-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--vertical-spacer);
}

.gallery-images img {
    width: 100%;
}

@media screen and (min-width: 800px) {

    .gallery-images {
        grid-template-columns: repeat(3, 1fr);
    }
} 


